<div class="container">
  <h2>Minhas Tarefas</h2>

  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div class="input-group">

        <label for="nomeNota">Qual é a terefa???</label>
        <input type="text" id="nomeNota" class="form-control" ng-model="tarefa.nome" required />

        <label for="exampleInput">Data inicial tarefa:</label>
        <input type="date" id="exampleInput" name="input" ng-model="tarefa.dataInicial"
          placeholder="dd-MM-yyyy" required />

          <label for="exampleInput">Data final tarefa:</label>
          <input type="date" id="exampleInput" name="input" ng-model="tarefa.dataFinal"
            placeholder="dd-MM-yyyy" required />

        <label for="nomeTag">Tag</label>
        <input type="text" id="nomeTag" class="form-control" ng-model="tarefa.marcador" required />


        <span class="input-group-btn">
          <button class="btn waves-effect waves-light" type="submit" name="action">
            Add Tarefa
            <i class="material-icons right">note_add</i>
          </button>
        </span>

      </div>
    </div>
  </form>

  <!-- Todos list -->
  <div ui-sortable ng-model="listaTodo">
    <table class="striped">
      <thead>
        <tr>
          <th data-field="nome">Tarefa</th>
          <th data-field="dataInicial">Data Inicial</th>
          <th data-field="dataFinal">Data Final</th>
          <th data-field="tagTodo">Tag</th>
          <th data-field="remover">Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tarefa in listaTarefas">
          <td>{{tarefa.nome}}</td>
          <td>{{tarefa.dataInicial | date: "dd-MM-yyyy"}}</td>
          <td>{{tarefa.dataFinal | date: "dd-MM-yyyy"}}</td>
          <td>
            <div class="chip">
              {{tarefa.marcador}}
            </div>
          </td>
          <td>
            <span class="input-group-btn">
                      <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">Remove<i class="material-icons right">delete</i></button>
                    </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
